body{
	height: 100%;
    margin: 0 auto;
    
  	display:flex;
  	flex-direction:column;
}

#header{
	z-index: 100;
	
	
}

#header h2.w3-bar-item{
	margin: 18px 0;
}

#content{
	margin: 0;
	min-height: 500px;
}

#viewer{
	position: absolute;
	top:1%;
	left:1%;
	width: 98%;
	height: 98%;	
	overflow: hidden;
}

#footer{
	position: absolute;
	bottom: 0;	
}

.w3-theme {
	color: #fff !important;
	background-color: #08B2E3 !important
}

.w3-theme-light {
	color: #484D6D !important;
	background-color: #EFE9F4 !important
}

.w3-theme-dark {
	color: #EFE9F4 !important;
	background-color: #484D6D !important
}

.w3-theme-l5 {
	color: #484D6D !important;
	background-color: #EFE9F4 !important
}

.w3-theme-l4 {
	color: #484D6D !important;
	background-color: #EEBCBE !important
}

.w3-theme-l3 {
	color: #EFE9F4 !important;
	background-color: #EE8F88 !important
}

.w3-theme-l2 {
	color: #EFE9F4 !important;
	background-color: #EE6352 !important
}

.w3-theme-l1 {
	color: #EFE9F4 !important;
	background-color: #837270 !important
}

.w3-theme-d1 {
	color: #EFE9F4 !important;
	background-color: #19828E !important
}

.w3-theme-d2 {
	color: #EFE9F4 !important;
	background-color: #57A773 !important
}

.w3-theme-d3 {
	color: #EFE9F4 !important;
	background-color: #2B5339 !important
}

.w3-theme-d4 {
	color: #EFE9F4 !important;
	background-color: #484D6D !important
}

.w3-theme-action {
	color: #EFE9F4 !important;
	background-color: #484D6D !important
}

.w3-text-theme {
	color: #484D6D !important
}